<section class="{{ attributes.class }} clearfix"{{ attributes }}>
  {{ title_prefix }}
  {% if title %}
    <h2{{ title_attributes }}>{{ title }}</h2>
  {% endif %}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</section>
