<article id="node-{{ node.nid }}" class="{{ classes }} clearfix"{{ attributes }}>


  <header>
    {{ title_prefix }}
    {% if not page and title %}
      <h2{{ title_attributes }}><a href="{{ node_url }}">{{ title }}</a></h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
      <span class="submitted">
        {{ user_picture }}
        {{ submitted }}
      </span>
    {% endif %}
  </header>

  {#
// Hide comments, tags, and links now so that we can render them later.
#}    {% hide(content.comments) %}
    {% hide(content.links) %}
    {% hide(content.field_tags) %}
    {{ content }}

  {% if content.field_tags or content.links %}
    <footer>
      {{ content.field_tags }}
      {{ content.links }}
    </footer>
  {% endif %}

  {{ content.comments }}

</article> <!-- /.node -->
